﻿
@{
    ViewBag.Title = "Index";
}

<h2>Upload Data File</h2>

@using (Html.BeginForm("Index", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div>

    @Html.TextBox("file", "", new { type = "file" }) <br /> <br />
    <input type="submit" value="Upload" /> <br /> <br />
    @ViewBag.Message
    
</div>


}  